{% extends 'base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
{% endblock %}
{% block body %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-danger mb-2" type="button" onclick="stop()">stop</button>
        </div>
    </div>

        <div class="row limit-height-thin">
            <div class="col-12">
            <div class="container" id="id_calib_title"></div>
            </div>
        </div>
        <div class="row limit-height-thin" >
            <div class="col-12">
            <div class="container limit-height-thin" id="id_calib_opt"></div>
            </div>
        </div>
        <div class="row mb-2 mt-2"  id="id_img">
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" id="title" class="{{ config_id }}">status</th>
                    </tr>
                    </thead>
                    <tbody id="id_table" >

                    </tbody>
                </table>

            </div>

        </div>

    </div>




{% endblock %}
{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}