<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#FileSelectModal">
    {{ button_name }}
</button>

<!-- Modal -->
<div class="modal fade" id="FileSelectModal" tabindex="-1" role="dialog" aria-labelledby="FileSelectModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle">{{ button_name }}</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form id="fileform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlFile1">select file</label>
            <input type="file" name="file" accept=".json" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary" onclick="event.preventDefault();document.getElementById('fileform').submit();">Save changes</button>
</div>
</div>
</div>
</div>
</div>