.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.line-small {
    line-height: 80%;
}
.limit-height {
    max-height:150px;
    overflow: scroll;
}
.limit-height-thin {
    max-height:88px;
    overflow: scroll;
    font-size: small;
}

table tr:nth-child(1){
    position:sticky;
    top:0;
    background:white;
}