.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.line-small {
    line-height: 80%;
}
.limit-height {
    max-height:300px;
    overflow: scroll;
}